name: Release

on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+

jobs:
  code_style:
    name: Code style
    uses: './.github/workflows/code_style.yml'
  unit_tests:
    name: Unit tests
    needs: code_style
    uses: './.github/workflows/unit_tests.yml'
    with:
      testing: false
  build_and_release:
    name: Build and release
    needs: unit_tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Python 3.7
        uses: actions/setup-python@v4
        with:
          python-version: '3.7'
          cache: 'pip'
      - name: Update pip
        run: python -m pip install --upgrade pip
      - name: Install build and twine
        run: pip install --upgrade build twine
      - name: Build package
        run: python -m build
      - name: Check dist files
        run: twine check ./dist/* --strict
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_TOKEN }}
          verbose: true